:root {
    --background-color: rgb(10,14,8); 
    --theme-dark-hover-color: rgba(255, 255, 255, 0.6);
    --background-image: url('images/dark_leaves_portrait.jpeg');
}
html {
    min-height: 100vh;
    min-width: 100vw;
    background-image: var(--background-image);
    background-color: var(--background-color);
    backdrop-filter: blur(1px) saturate(100%) brightness(50%); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 15px;
    z-index: 10;
    backdrop-filter: blur(1px) saturate(100%) brightness(50%); 
}

body * {
    color: white;
    text-shadow: 0.5px 0 0 black, -0.5px 0 0 black, 0 0.5px 0 black, 0 -0.5px 0 black, 0.5px 0.5px black, -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;  /* This will ensure the children (links and socials) are centered */
    text-decoration: none;
    gap:1.8em;
}
header img {
    display:block;
    width:120px;
    height:auto;
    border-radius: 50%;
}
header a {
    font-size: 1.2rem;
}
.icon
{
    display:flex;
    justify-content: space-evenly;
    font-size: 5vw;  
    gap: 1.5rem; 
}
.icon a{
    opacity:.8;
}
.icon a:hover{
    opacity:1;
}
.links
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2em; 
}
a
{
    text-decoration: none;
    font-size:3rem;
}
.button {
    display: flex;
    padding: 10px; /* Increase horizontal padding, and maintain vertical padding */
    border: none; 
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(7px); /* For Safari */
    width: 45vw;/* It will take as much width as the content requires */
    height: auto;
    transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
    justify-content: flex-start; 
    align-items: center;
    position: relative; 
    border-radius: 10px;
    font-size: 1.8rem; /* Adjust according to your needs. 1rem is just an example. */
}
.button:hover {
    transition: transform .3s ease;
    background-color: var(--theme-dark-hover-color);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Add shadow on hover */
}

a img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%; /* To keep rounded corners */
}
.button-text {
    text-align: center;
    padding: 0 3px; /* Just in case you want some space around the text inside its container */
}
.button-text {
    flex-grow: 1; /* Allow it to take up remaining space */
    text-align: center; /* Center-align the text within its space */
}
/* CSS for screens smaller than 768px */
@media (max-width: 1200px) {
    a {
        font-size: 2.2rem;
    }
    .button {
        width: 20vw;
        min-width: 48vw;
        font-size: 1.9rem;
    }
    header img {
        width: 90px;
    }
    .content {
        padding: .8rem;
    }
}
footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;    
}