html,body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #07041E;
    color: white;
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

